header {
    display: none;
}
footer {
    display: none;
}

.wrapped-container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: start;
    align-items: center;
    color: var(--dark_brown);
    background-color: white;
}

.wrapped-first-cont {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapped-first-cont,
.wrapper-second-cont,
.wrapped-third-cont {
    width: 100%;
}

.second-inner-container,
.third-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--light_green);
    padding-bottom: 200px;
}

.wrapped-third-cont .wave-cont {
    background-color: var(--light_green);
}
.third-inner-container {
    background-color: var(--brown);
}

.wave-cont {
    width: 100%;
    height: 150px;
    position: relative;
    bottom: 0;
}
.decorative_wave {
    width: 100%;
    position: absolute;
    bottom: -1px;
}
.decorative_wave2 {
    width: 100%;
    position: absolute;
    transform: scaleX(-1);
    opacity: 0.5;
    bottom: 0;
}

.wrapped-title-container {
    text-align: center;
    width: 70%;
}
.wrapped-container h1 {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
    margin-top: 20px;
}
.wrapped-container h2 {
    font-size: 1.8rem;
}

.wrapped-container h3 {
    font-size: 1.1rem;
    color: var(--green);
    margin: 0;
}

.wrapped-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    gap: 30px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 80px;
}
.wrapped-subtitle hr {
    width: 25%;
    height: 2px;
    margin: 0;
    border: 2px solid var(--dark_brown);
    border-radius: 10px;
}
.activeDays-container {
    height: 250px;
    width: 60%;
    margin-top: 80px;
    border: 5px solid var(--dark_brown);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light_green);
    border-radius: 16px;
}

.activeDays-innerCont {
    border: 5px solid var(--dark_brown);
    width: 95%;
    height: 80%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.activeDays-container p {
    font-size: 5rem;
    font-weight: 700;
}
.emotions-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 0 auto;
    width: 80%;
}

.entries-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 1.5rem;
    font-weight: 500;
}
/* Estilo para cada item */
.emotion-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 180px;
    width: 400px;
    list-style: none;
    border: 5px solid var(--dark_brown);
    background-color: white;
    border-radius: 16px;
    background-image: url("/assets/images/green_wave.svg");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

/* Imagen */
.emotion-icon {
    height: 70%;
    width: 45%;
    object-fit: contain;
}

/* Contenedor del texto */
.emotion-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 55%;
}

/* Nombre de emoción */
.emotion-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

/* Días */
.emotion-days {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 10px;
}

.diary-counter {
    font-size: 1.5rem;
    font-weight: 700;
}
.chat-container {
    background-image: url("/assets/images/green_wave.svg");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}
.coins-container,
.streak-container {
    background-image: url("/assets/images/brown_wave.svg");
    background-size: 101%;
    background-position-y: calc(100% + 5px);
    background-repeat: no-repeat;
}
.coins-container,
.chat-container,
.streak-container {
    height: 150px;
    width: 40%;
    list-style: none;
    border: 5px solid var(--dark_brown);
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coinText,
.streakText,
.chatText {
    font-size: 1.7rem;
    width: 100%;
    text-align: center;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    margin: 0;
}
.coinText img {
    height: 60px;
    width: 60px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .wrapped-container h1 {
        font-size: 1.5rem;
    }
    .wrapped-container p {
        text-align: center;
    }
    .wrapped-container h2 {
        font-size: 1.3rem;
    }

    .wrapped-subtitle {
        gap: 5px;
    }
    .activeDays-container {
        height: 180px;
        width: 85%;
    }
    .activeDays-innerCont {
        height: 90%;
    }
    .wrapped-first-cont {
        height: 70vh;
    }
    .activeDays-container p{
        font-size: 4rem;
    }
    .second-inner-container,
    .third-inner-container {
        padding-bottom: 1px;
    }
    .emotions-container ul {
        gap: 50px;
    }
    .emotion-name {
        font-size: 1.5rem;
    }
    .entries-container{
        margin-bottom: 0;
    }
    .chat-container {
        width: 75%;
        height: 120px;
    }
    .coins-container,
    .streak-container {
        width: 90%;
        height: 120px;
    }
    .coinText,
    .streakText,
    .chatText {
        font-size: 1.3rem;
    }
    .coinText img {
        height: 40px;
        width: 40px;
    }
    .third-inner-container{
        padding-bottom: 150px;
    }
}
