header {
    display: none;
}
footer {
    display: none;
}

.goBackArrow{
width:  100%;
height: 150px;
padding: 0 50px;
display: flex;
justify-content: start;
align-items: center;
}

.goBackArrow img {
    height: 50%;
    transition: transform 0.3s ease; /* Asegura animación suave */
}

.goBackArrow img:hover {
    cursor: pointer;
    transform: scale(1.05) translateX(-5px); /* Escala + movimiento a la izquierda */
}

.wrapped-container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: start;
    align-items: center;
    color: var(--dark_brown);
    background-color: white;
}

.wrapped-first-cont {
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.wrapped-first-cont,
.wrapper-second-cont,
.wrapped-third-cont {
    width: 100%;
}

.second-inner-container,
.third-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--light_green);
    padding-bottom: 200px;
        width: 100%;

}

.wrapped-third-cont .wave-cont {
    background-color: var(--light_green);
}
.third-inner-container {
    background-color: var(--brown);
}

.wave-cont {
    width: 100%;
    height: 150px;
    position: relative;
    bottom: 0;
}
.decorative_wave {
    width: 100%;
    position: absolute;
    bottom: -1px;
}
.decorative_wave2 {
    width: 100%;
    position: absolute;
    transform: scaleX(-1);
    opacity: 0.5;
    bottom: 0;
}

.wrapped-title-container {
    text-align: center;
    width: 70%;
}
.wrapped-container h1 {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
    margin-top: 20px;
}
.wrapped-container h2 {
    font-size: 1.8rem;
}

.wrapped-container h3 {
    font-size: 1.4rem;
    color: var(--green);
    margin: 0;
}

.wrapped-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    gap: 30px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 80px;
}
.wrapped-subtitle hr {
    width: 25%;
    margin: 0;
    border: 2px solid var(--dark_brown);
    border-radius: 10px;
}
.activeDays-container {
    height: 250px;
    width: 60%;
    margin-top: 160px;
    border: 5px solid var(--dark_brown);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brown);
    border-radius: 16px;
    position: relative;
}

.pet_onigiri {
    position: absolute;
    top: -134px;
    right: 10%;
    height: 150px;
}
.activeDays-innerCont {
    border: 5px solid var(--brown);
    width: 95%;
    height: 80%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.activeDays-container p {
    font-size: 5rem;
    font-weight: 700;
}
.motivation_text {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 60px;
}

.emotions-container {
    display: flex;
    justify-content: center; 
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    flex-direction: column;
}

.emotions-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 0 auto;
    width: 80%;
}

.entries-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 1.5rem;
    font-weight: 500;
}
/* Estilo para cada item */
.emotion-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 180px;
    width: 400px;
    list-style: none;
    border: 5px solid var(--dark_brown);
    background-color: white;
    border-radius: 16px;
    background-image: url("/assets/images/brown_wave.svg");
    background-size: 101%;
    background-position: bottom;
    background-repeat: no-repeat;
}

/* Imagen */
.emotion-icon {
    height: 70%;
    width: 45%;
    object-fit: contain;
}

/* Contenedor del texto */
.emotion-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 55%;
}

/* Nombre de emoción */
.emotion-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

/* Días */
.emotion-days {
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 10px;
    color: var(--brown);
}

.chat-container {
    background-image: url("/assets/images/brown_wave.svg");
    background-size: 101%;
    background-position-y: calc(100% + 5px);
    background-repeat: no-repeat;
}
.coins-container,
.streak-container {
    background-image: url("/assets/images/green_wave.svg");
    background-size: 101%;
    background-position-y: calc(100% + 5px);
    background-repeat: no-repeat;
}
.coins-container,
.chat-container,
.streak-container {
    height: 150px;
    width: 40%;
    list-style: none;
    border: 5px solid var(--dark_brown);
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.coinText,
.streakText,
.chatText {
    font-size: 1.7rem;
    width: 100%;
    text-align: center;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    margin: 0;
}
.coinText span,
.streakText span,
.chatText span {
    color: var(--brown);
}
.coinText img {
    height: 55px;
    width: 55px;
}

/*-------------CONFETTI-----------*/
.confetti-area {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.confetti {
    position: absolute;
    width: 8px;
    height: 16px;
    opacity: 0.8;
    transform: rotate(0deg);
    animation: confetti-fall linear infinite;
    border-radius: 2px;
}

@keyframes confetti-fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .wrapped-container h1 {
        font-size: 1.5rem;
    }
    .wrapped-container p {
        text-align: center;
    }
    .wrapped-container h2 {
        font-size: 1.3rem;
    }

    .wrapped-subtitle {
        gap: 5px;
        margin-bottom: 30px;
        margin-top: 80px;
    }
    .wave-cont {
        height: 100px;
    }
    .activeDays-container {
        height: 140px;
        width: 85%;
        margin-top: 80px;
    }
    .activeDays-innerCont {
        height: 90%;
    }
    .motivation_text {
        font-size: 1.2rem;
        width: 90%;
        margin: auto;
        margin-top: 30px;
    }
    .pet_onigiri {
        height: 90px;
        top: -82px;
    }
    .wrapped-first-cont {
        height: 75vh;
            justify-content: center;

    }
    .activeDays-container p {
        font-size: 3.4rem;
    }
    .second-inner-container,
    .third-inner-container {
        padding-bottom: 0px;
    }
    .emotion-item {
        height: 140px;
    }
    .emotion-icon {
        height: 100%;
        width: 30%;
    }
    .emotions-container ul {
        gap: 50px;
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-inline-start: 0px;
    }
    .emotion-name {
        font-size: 1.4rem;
    }
    .entries-container {
        margin-bottom: 0;
    }
    .chat-container {
        width: 75%;
        height: 120px;
    }
    .coins-container,
    .streak-container {
        width: 90%;
        height: 120px;
    }
    .coinText,
    .streakText,
    .chatText {
        font-size: 1.3rem;
    }
    .coinText img {
        height: 40px;
        width: 40px;
    }
    .third-inner-container {
        padding-bottom: 150px;
    }
    .confetti {
        width: 4px;
        height: 8px;
    }
    .goBackArrow{
        height: 100px;
        padding: 0 20px;
    }
  


}
