header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15%;
    height: 60px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    background-color: transparent; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    box-sizing: border-box;
}

header.scrolled {
    background-color: white;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
}

.nav-button{
    cursor: pointer;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_oniTime_logo_containe {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_oniTime_icon {
    height: 50px;
    border-radius: 100%;
    
}
.header_oniTime_logo {
    height: 35px;
    margin-left: 10px;
}

.header_nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header_nav a {
    text-decoration: none;
    color: var(--dark_brown);
    transition: color 0.3s ease;
    cursor: pointer;
    position: relative; 
    padding-bottom: 5px; 
}

.header_nav a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--green); 
    transition: width 0.3s ease-in-out; 
}

.header_nav a:hover::before {
    width: 100%; 
}

@media (max-width: 768px) {
header{
    padding: 0 20px;
}
.header_oniTime_logo {
    display: none;
}
.header_nav {
    font-size: 0.9rem;
}
    }